<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <h3 style="color: brown">
        Este é um Teste para avaliação da vaga para DEV Angular 6
    </h3>
    <h4>
        Antes de começar a usar o sistema, realize o cadastro!
    </h4>
</div>